<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>signupConfirm</servlet-name>
        <servlet-class>com.koushik.servlet.confirmation.signupConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginConfirm</servlet-name>
        <servlet-class>com.koushik.servlet.confirmation.loginConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutConfirm</servlet-name>
        <servlet-class>com.koushik.servlet.confirmation.logoutConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updaterow</servlet-name>
        <servlet-class>com.koushik.servlet.updatedb.Updaterow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleterow</servlet-name>
        <servlet-class>com.koushik.servlet.updatedb.Deleterow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signupConfirm</servlet-name>
        <url-pattern>/signupConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginConfirm</servlet-name>
        <url-pattern>/loginConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutConfirm</servlet-name>
        <url-pattern>/logoutConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updaterow</servlet-name>
        <url-pattern>/Updaterow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleterow</servlet-name>
        <url-pattern>/Deleterow</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/web/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
